flows.json
[
    {
        "id": "a200ee431c61cadb",
        "type": "tab",
        "label": "Living room",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d962963bfcd65845",
        "type": "tab",
        "label": "Kitchen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c7cd19e4b8ecca8",
        "type": "tab",
        "label": "Master bathroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca13b382e0d38e47",
        "type": "tab",
        "label": "Master bedroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d17aed6252a7507",
        "type": "tab",
        "label": "Study",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b274b3d1a72e5fa",
        "type": "tab",
        "label": "Hall",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe07807563218a3c",
        "type": "tab",
        "label": "Guest bedroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "357f108ee4d385ed",
        "type": "tab",
        "label": "Guest bathroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9eb42a15c96edb97",
        "type": "tab",
        "label": "Sundown",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1677362e797afd58",
        "type": "tab",
        "label": "Humidity Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33b89297c0e3a43d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12be0d6bf38dae3a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a8458faf5b44edf",
        "type": "light-scheduler-settings",
        "name": "Cape Town",
        "latitude": "-34.0486",
        "longitude": "18.4811"
    },
    {
        "id": "9bfb9e4ed0209d0d",
        "type": "zigbee2mqtt-server",
        "name": "homebridge",
        "host": "192.168.1.4",
        "mqtt_port": "1883",
        "mqtt_username": "mqtt",
        "mqtt_password": "2tVEquV2aaUm",
        "mqtt_qos": "0",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "2a00ae8c91bbaaa5",
        "type": "json",
        "z": "a200ee431c61cadb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "8cdc265a585df74b"
            ]
        ]
    },
    {
        "id": "f1f9c375c21b131c",
        "type": "mqtt in",
        "z": "a200ee431c61cadb",
        "name": "",
        "topic": "zigbee2mqtt/button small lamp",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "2a00ae8c91bbaaa5"
            ]
        ]
    },
    {
        "id": "1a950e664232dbe8",
        "type": "mqtt in",
        "z": "a200ee431c61cadb",
        "name": "",
        "topic": "zigbee2mqtt/button large lamp",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "0331ff2d4048a526"
            ]
        ]
    },
    {
        "id": "0331ff2d4048a526",
        "type": "json",
        "z": "a200ee431c61cadb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "f089b2c763f10423"
            ]
        ]
    },
    {
        "id": "8cdc265a585df74b",
        "type": "switch",
        "z": "a200ee431c61cadb",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "d0b5524728e6a916"
            ],
            [
                "e9f49b7664af1019"
            ],
            [
                "d89d927e931d3ba5"
            ]
        ]
    },
    {
        "id": "f089b2c763f10423",
        "type": "switch",
        "z": "a200ee431c61cadb",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "70e0eb223cf62b52"
            ],
            [
                "4ee2a09fcfb4bec5"
            ],
            [
                "4bcddcf33217f69b"
            ]
        ]
    },
    {
        "id": "9fa3951ec458fd66",
        "type": "mqtt out",
        "z": "a200ee431c61cadb",
        "name": "",
        "topic": "zigbee2mqtt/lamp small living room/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1400,
        "y": 160,
        "wires": []
    },
    {
        "id": "5c88179b03e85cc1",
        "type": "mqtt out",
        "z": "a200ee431c61cadb",
        "name": "",
        "topic": "zigbee2mqtt/switch living room/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1380,
        "y": 260,
        "wires": []
    },
    {
        "id": "afb0077185b35e15",
        "type": "mqtt out",
        "z": "a200ee431c61cadb",
        "name": "",
        "topic": "zigbee2mqtt/lamp large living room/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1400,
        "y": 360,
        "wires": []
    },
    {
        "id": "d0b5524728e6a916",
        "type": "change",
        "z": "a200ee431c61cadb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 100,
        "wires": [
            [
                "9fa3951ec458fd66"
            ]
        ]
    },
    {
        "id": "e9f49b7664af1019",
        "type": "change",
        "z": "a200ee431c61cadb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 160,
        "wires": [
            [
                "afb0077185b35e15"
            ]
        ]
    },
    {
        "id": "d89d927e931d3ba5",
        "type": "change",
        "z": "a200ee431c61cadb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state_bottom\":\"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "5c88179b03e85cc1"
            ]
        ]
    },
    {
        "id": "4ee2a09fcfb4bec5",
        "type": "change",
        "z": "a200ee431c61cadb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 360,
        "wires": [
            [
                "9fa3951ec458fd66"
            ]
        ]
    },
    {
        "id": "70e0eb223cf62b52",
        "type": "change",
        "z": "a200ee431c61cadb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\":\"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "afb0077185b35e15"
            ]
        ]
    },
    {
        "id": "4bcddcf33217f69b",
        "type": "change",
        "z": "a200ee431c61cadb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state_bottom\":\"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "5c88179b03e85cc1"
            ]
        ]
    },
    {
        "id": "27132ea1c68099e9",
        "type": "mqtt in",
        "z": "d962963bfcd65845",
        "name": "",
        "topic": "zigbee2mqtt/motion kitchen",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "c3cd79fcd986f590"
            ]
        ]
    },
    {
        "id": "c3cd79fcd986f590",
        "type": "json",
        "z": "d962963bfcd65845",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "68aea32965b364c3"
            ]
        ]
    },
    {
        "id": "f29e29e7cdcc751f",
        "type": "mqtt out",
        "z": "d962963bfcd65845",
        "name": "",
        "topic": "zigbee2mqtt/switch kitchen led/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1260,
        "y": 280,
        "wires": []
    },
    {
        "id": "68aea32965b364c3",
        "type": "function",
        "z": "d962963bfcd65845",
        "name": "",
        "func": "var led = flow.get(\"led\");\nvar enabled = global.get(\"enabled\")\n\nif (led === undefined) {\n    led = {\n        \"state\": \"OFF\"\n    }\n}\n\nif (enabled && msg.payload.illuminance <=35 && msg.payload.occupancy === true)\n{\n    msg = { payload: { \"state\": \"ON\" } };\n    return msg;\n}\nif (enabled && led.state == \"ON\" && msg.payload.occupancy === true)\n{\n    msg = { payload: { \"state\": \"ON\" } };\n    return msg;\n}\n\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "8753a0c98446b343",
                "6f3483832179cc8b"
            ]
        ]
    },
    {
        "id": "8753a0c98446b343",
        "type": "trigger",
        "z": "d962963bfcd65845",
        "name": "",
        "op1": "{ \"state\": \"ON\" } ",
        "op2": "{ \"state\": \"OFF\" }",
        "op1type": "json",
        "op2type": "json",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "f29e29e7cdcc751f"
            ]
        ]
    },
    {
        "id": "44848d65e877afb0",
        "type": "mqtt in",
        "z": "d962963bfcd65845",
        "name": "",
        "topic": "zigbee2mqtt/switch kitchen led",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "9047cd2d1960bd54"
            ]
        ]
    },
    {
        "id": "9047cd2d1960bd54",
        "type": "json",
        "z": "d962963bfcd65845",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 80,
        "wires": [
            [
                "730a03b1f7d6d858"
            ]
        ]
    },
    {
        "id": "730a03b1f7d6d858",
        "type": "change",
        "z": "d962963bfcd65845",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6d2708b85faafb32",
        "type": "mqtt in",
        "z": "d962963bfcd65845",
        "name": "",
        "topic": "zigbee2mqtt/button kitchen",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "157482671b5b9b0e"
            ]
        ]
    },
    {
        "id": "157482671b5b9b0e",
        "type": "json",
        "z": "d962963bfcd65845",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 440,
        "wires": [
            [
                "1d3427e6e1073616"
            ]
        ]
    },
    {
        "id": "1d3427e6e1073616",
        "type": "switch",
        "z": "d962963bfcd65845",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "2a9c68267a57f7bd"
            ],
            [
                "9026dde9265b6427"
            ],
            [
                "c7934ae9a4a941b5"
            ]
        ]
    },
    {
        "id": "9026dde9265b6427",
        "type": "change",
        "z": "d962963bfcd65845",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state_center\" : \"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 440,
        "wires": [
            [
                "114aaa888a197727"
            ]
        ]
    },
    {
        "id": "2a9c68267a57f7bd",
        "type": "change",
        "z": "d962963bfcd65845",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 360,
        "wires": [
            [
                "f29e29e7cdcc751f"
            ]
        ]
    },
    {
        "id": "c7934ae9a4a941b5",
        "type": "change",
        "z": "d962963bfcd65845",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state_top\":\"TOGGLE\" }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 520,
        "wires": [
            [
                "114aaa888a197727"
            ]
        ]
    },
    {
        "id": "114aaa888a197727",
        "type": "mqtt out",
        "z": "d962963bfcd65845",
        "name": "",
        "topic": "zigbee2mqtt/switch living room/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1260,
        "y": 480,
        "wires": []
    },
    {
        "id": "59c3f1e29748c5f9",
        "type": "mqtt in",
        "z": "d962963bfcd65845",
        "name": "",
        "topic": "oneil/led",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "6cfe850a4be871ea"
            ]
        ]
    },
    {
        "id": "6f3483832179cc8b",
        "type": "debug",
        "z": "d962963bfcd65845",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "6cfe850a4be871ea",
        "type": "json",
        "z": "d962963bfcd65845",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 460,
        "y": 680,
        "wires": [
            [
                "bb5ada2aa18077f6"
            ]
        ]
    },
    {
        "id": "bb5ada2aa18077f6",
        "type": "change",
        "z": "d962963bfcd65845",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "global",
                "to": "payload.enabled",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "504c84df6a00700d",
        "type": "mqtt in",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "topic": "zigbee2mqtt/motion master bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "990d0ecd8a972c50"
            ]
        ]
    },
    {
        "id": "a96fb5d3964b434c",
        "type": "mqtt in",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "topic": "zigbee2mqtt/door master bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "c4a72fe6f65c548d"
            ]
        ]
    },
    {
        "id": "8ce305f4792c60cc",
        "type": "debug",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "7fc8f97d58abe966",
        "type": "debug",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "990d0ecd8a972c50",
        "type": "json",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "8ce305f4792c60cc",
                "9bf426d7c5d3aeff"
            ]
        ]
    },
    {
        "id": "c4a72fe6f65c548d",
        "type": "json",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "7fc8f97d58abe966",
                "e43d9e36372e5ccd"
            ]
        ]
    },
    {
        "id": "9bf426d7c5d3aeff",
        "type": "function",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "func": "var door = flow.get(\"door\");\n\nif (door === undefined) {\n    door = {\n        \"contact\": false\n    }\n}\n\nif (msg.payload.occupancy === true)\n{\n    msg = { payload: { \"state_center\": \"ON\" } };\n}\nelse if (door.contact === false)\n{\n    msg = { payload: { \"state_center\": \"OFF\" } };\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "0e092f60ef941b72"
            ]
        ]
    },
    {
        "id": "e43d9e36372e5ccd",
        "type": "change",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0e092f60ef941b72",
        "type": "mqtt out",
        "z": "8c7cd19e4b8ecca8",
        "name": "",
        "topic": "zigbee2mqtt/switch master bedroom/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "0b24c779c9946112",
        "type": "mqtt in",
        "z": "ca13b382e0d38e47",
        "name": "Button Lino",
        "topic": "zigbee2mqtt/button lino",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "857ae046bfaf3bea"
            ]
        ]
    },
    {
        "id": "857ae046bfaf3bea",
        "type": "json",
        "z": "ca13b382e0d38e47",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "3928ddf7c2369ec2",
                "b320855c23793f12"
            ]
        ]
    },
    {
        "id": "3928ddf7c2369ec2",
        "type": "switch",
        "z": "ca13b382e0d38e47",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_both",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "6d58e3cf744f2d8e"
            ],
            [
                "195ef1b46b9db748"
            ],
            [
                "5601a18a4a61c6ca"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b320855c23793f12",
        "type": "debug",
        "z": "ca13b382e0d38e47",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "85fe0741ab2d4fa1",
        "type": "mqtt in",
        "z": "ca13b382e0d38e47",
        "name": "Button Estelle",
        "topic": "zigbee2mqtt/button estelle",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "5b7941679ad73e1a"
            ]
        ]
    },
    {
        "id": "5b7941679ad73e1a",
        "type": "json",
        "z": "ca13b382e0d38e47",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 520,
        "wires": [
            [
                "d97464752b760963",
                "98ecec176935abae"
            ]
        ]
    },
    {
        "id": "d97464752b760963",
        "type": "switch",
        "z": "ca13b382e0d38e47",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_both",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "a9dc2e90be3dd5d1"
            ],
            [
                "7d04e77c158e2344"
            ],
            [
                "6ca73a054bd5ff19"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "98ecec176935abae",
        "type": "debug",
        "z": "ca13b382e0d38e47",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "6d58e3cf744f2d8e",
        "type": "change",
        "z": "ca13b382e0d38e47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 120,
        "wires": [
            [
                "947866167f92636f"
            ]
        ]
    },
    {
        "id": "195ef1b46b9db748",
        "type": "change",
        "z": "ca13b382e0d38e47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "472760b4989de753"
            ]
        ]
    },
    {
        "id": "5601a18a4a61c6ca",
        "type": "change",
        "z": "ca13b382e0d38e47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state_top\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "380839d1d45ae32e"
            ]
        ]
    },
    {
        "id": "7d04e77c158e2344",
        "type": "change",
        "z": "ca13b382e0d38e47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "472760b4989de753"
            ]
        ]
    },
    {
        "id": "a9dc2e90be3dd5d1",
        "type": "change",
        "z": "ca13b382e0d38e47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 440,
        "wires": [
            [
                "947866167f92636f"
            ]
        ]
    },
    {
        "id": "6ca73a054bd5ff19",
        "type": "change",
        "z": "ca13b382e0d38e47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state_top\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "380839d1d45ae32e"
            ]
        ]
    },
    {
        "id": "472760b4989de753",
        "type": "mqtt out",
        "z": "ca13b382e0d38e47",
        "name": "Lamp Lino",
        "topic": "zigbee2mqtt/lamp lino/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "947866167f92636f",
        "type": "mqtt out",
        "z": "ca13b382e0d38e47",
        "name": "Lamp Estelle",
        "topic": "zigbee2mqtt/lamp estelle/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "380839d1d45ae32e",
        "type": "mqtt out",
        "z": "ca13b382e0d38e47",
        "name": "Switch master bedroom",
        "topic": "zigbee2mqtt/switch master bedroom/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1230,
        "y": 320,
        "wires": []
    },
    {
        "id": "b962c7d12de51e3d",
        "type": "mqtt in",
        "z": "9d17aed6252a7507",
        "name": "Toggle study lamp",
        "topic": "zigbee2mqtt/button study",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "5e2909445c238b9e"
            ]
        ]
    },
    {
        "id": "5e2909445c238b9e",
        "type": "json",
        "z": "9d17aed6252a7507",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "1d3a4e683e372fb1"
            ]
        ]
    },
    {
        "id": "1d3a4e683e372fb1",
        "type": "switch",
        "z": "9d17aed6252a7507",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 630,
        "y": 720,
        "wires": [
            [
                "e211573c0c0b82db"
            ],
            [
                "6fc3b6a9df48d9cc"
            ],
            [
                "ee2d2ee6689bb52c",
                "bcbebba20f643ef1"
            ]
        ]
    },
    {
        "id": "7bda54f248cbf287",
        "type": "mqtt out",
        "z": "9d17aed6252a7507",
        "name": "",
        "topic": "zigbee2mqtt/study led/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1320,
        "y": 520,
        "wires": []
    },
    {
        "id": "e211573c0c0b82db",
        "type": "change",
        "z": "9d17aed6252a7507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 640,
        "wires": [
            [
                "7bda54f248cbf287"
            ]
        ]
    },
    {
        "id": "6fc3b6a9df48d9cc",
        "type": "change",
        "z": "9d17aed6252a7507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 720,
        "wires": [
            [
                "9d9ea1698594a507"
            ]
        ]
    },
    {
        "id": "9d9ea1698594a507",
        "type": "mqtt out",
        "z": "9d17aed6252a7507",
        "name": "",
        "topic": "zigbee2mqtt/switch study/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1330,
        "y": 600,
        "wires": []
    },
    {
        "id": "9c2079fbd6180c37",
        "type": "json",
        "z": "9d17aed6252a7507",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "1353c73125217004",
                "9870662ad50960ea",
                "ddb6a5373d1af710"
            ]
        ]
    },
    {
        "id": "34639211d0f86006",
        "type": "mqtt in",
        "z": "9d17aed6252a7507",
        "name": "study motion",
        "topic": "zigbee2mqtt/motion study",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 420,
        "wires": [
            [
                "9c2079fbd6180c37"
            ]
        ]
    },
    {
        "id": "1353c73125217004",
        "type": "change",
        "z": "9d17aed6252a7507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "studyMotion",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "db31215f6f4621f2",
        "type": "debug",
        "z": "9d17aed6252a7507",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "ffa7ccf835eb6419",
        "type": "http in",
        "z": "9d17aed6252a7507",
        "name": "",
        "url": "/Linos-MacBook-Pro",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "9f6bbeec51ebaa90",
                "fa2bd942739164d0"
            ]
        ]
    },
    {
        "id": "8dd7ef314ad6726b",
        "type": "debug",
        "z": "9d17aed6252a7507",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "9f6bbeec51ebaa90",
        "type": "http response",
        "z": "9d17aed6252a7507",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "fa2bd942739164d0",
        "type": "change",
        "z": "9d17aed6252a7507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "macBookStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "efd5807c05fb5d3f"
            ]
        ]
    },
    {
        "id": "6323df30b24a1f5a",
        "type": "mqtt in",
        "z": "9d17aed6252a7507",
        "name": "lamp status",
        "topic": "zigbee2mqtt/study led",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "cecf3d5098ec178e"
            ]
        ]
    },
    {
        "id": "c049d19562775e65",
        "type": "change",
        "z": "9d17aed6252a7507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lampStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cecf3d5098ec178e",
        "type": "json",
        "z": "9d17aed6252a7507",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "c049d19562775e65"
            ]
        ]
    },
    {
        "id": "9870662ad50960ea",
        "type": "function",
        "z": "9d17aed6252a7507",
        "name": "",
        "func": "var macBookStatus = flow.get(\"macBookStatus\");\nvar lampStatus = flow.get(\"lampStatus\");\n\nif (macBookStatus === undefined) {\n    macBookStatus = {\n        \"status\": \"sleep\"\n    }\n    \n    flow.set(\"macBookStatus\", macBookStatus)\n}\n\nif (\n    msg.payload.occupancy === true &&\n    msg.payload?.illuminance <= 20\n) {\n\n    msg = {\n        payload: {\n            \"state\": \"ON\"\n        }\n    };\n    return [ msg, null ];\n} else if (\n    msg.payload.occupancy === false &&\n    macBookStatus.status === \"sleep\" ||\n    msg.payload.illuminance > 20\n) {\n    msg = {\n        payload: {\n            \"state\": \"OFF\"\n        }\n    };\n    return [ msg, msg ];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "7bda54f248cbf287"
            ],
            [
                "9d9ea1698594a507"
            ]
        ]
    },
    {
        "id": "0ba79c5e9be953f6",
        "type": "debug",
        "z": "9d17aed6252a7507",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 420,
        "wires": []
    },
    {
        "id": "efd5807c05fb5d3f",
        "type": "switch",
        "z": "9d17aed6252a7507",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sleep",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "0ec414e6532d9a78"
            ]
        ]
    },
    {
        "id": "0ec414e6532d9a78",
        "type": "change",
        "z": "9d17aed6252a7507",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"OFF\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 180,
        "wires": [
            [
                "7bda54f248cbf287",
                "9d9ea1698594a507"
            ]
        ]
    },
    {
        "id": "ee2d2ee6689bb52c",
        "type": "function",
        "z": "9d17aed6252a7507",
        "name": "",
        "func": "var macBookStatus = flow.get(\"macBookStatus\");\n\nif (macBookStatus === undefined ||\n    macBookStatus.status === \"wake\"\n) {\n    macBookStatus = {\n        \"status\": \"sleep\"\n    }\n}\nelse {\n    macBookStatus = {\n        \"status\": \"wake\"\n    }\n}\n\nflow.set(\"macBookStatus\", macBookStatus)\n\nreturn macBookStatus;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d9c4069708c25dc7",
        "type": "inject",
        "z": "9d17aed6252a7507",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "9e68df2d5764c494"
            ]
        ]
    },
    {
        "id": "78b3826bd34bad6d",
        "type": "debug",
        "z": "9d17aed6252a7507",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 500,
        "wires": []
    },
    {
        "id": "9e68df2d5764c494",
        "type": "function",
        "z": "9d17aed6252a7507",
        "name": "",
        "func": "var studyMotion\t= flow.get(\"studyMotion\");\n\nif ( studyMotion?.illuminance > 20 ) {\n    msg = {\n        payload: {\n            \"state\": \"OFF\"\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "7bda54f248cbf287",
                "9d9ea1698594a507"
            ]
        ]
    },
    {
        "id": "bcbebba20f643ef1",
        "type": "trigger",
        "z": "9d17aed6252a7507",
        "name": "",
        "op1": "{\"state\":\"TOGGLE\"}",
        "op2": "{\"state\": \"TOGGLE\"}",
        "op1type": "json",
        "op2type": "json",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 940,
        "y": 800,
        "wires": [
            [
                "7bda54f248cbf287",
                "9d9ea1698594a507"
            ]
        ]
    },
    {
        "id": "ddb6a5373d1af710",
        "type": "debug",
        "z": "9d17aed6252a7507",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "e32689e16add03ae",
        "type": "mqtt in",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "topic": "zigbee2mqtt/motion entrance",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "ff377ca7755c6520"
            ]
        ]
    },
    {
        "id": "ff377ca7755c6520",
        "type": "json",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "0127caadc3e95bc4",
                "55d3d23066645cc3"
            ]
        ]
    },
    {
        "id": "55d3d23066645cc3",
        "type": "debug",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "d53255bf26ca5f17",
        "type": "mqtt out",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "topic": "zigbee2mqtt/switch entrance/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "0127caadc3e95bc4",
        "type": "function",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "func": "var door = flow.get(\"door\");\nvar enabled = global.get(\"enabled\")\n\nif (enabled && msg.payload.illuminance <=30 && msg.payload.occupancy === true)\n{\n    msg = { payload: { \"state\": \"ON\" } };\n}\nelse if ( door.contact === true)\n{\n    msg = { payload: { \"state\": \"OFF\" } };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "d53255bf26ca5f17"
            ]
        ]
    },
    {
        "id": "5e426be5b094be09",
        "type": "mqtt in",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "topic": "zigbee2mqtt/door entrance",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "876e1a7694092633"
            ]
        ]
    },
    {
        "id": "876e1a7694092633",
        "type": "json",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "af372c0dce4d8081"
            ]
        ]
    },
    {
        "id": "af372c0dce4d8081",
        "type": "change",
        "z": "6b274b3d1a72e5fa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ac2473e68425263a",
        "type": "mqtt in",
        "z": "fe07807563218a3c",
        "name": "Button 1",
        "topic": "zigbee2mqtt/button 1 guest bedroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "1c351c9db68eb2ef"
            ]
        ]
    },
    {
        "id": "1c351c9db68eb2ef",
        "type": "json",
        "z": "fe07807563218a3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "81bdd55494825b31",
                "ee2415fa5a51cec7"
            ]
        ]
    },
    {
        "id": "81bdd55494825b31",
        "type": "switch",
        "z": "fe07807563218a3c",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_both",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "08c5fd57f0bb3498"
            ],
            [
                "b2db5deedcc3232e"
            ],
            [
                "075c8c3a1f3aaeb0"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "ee2415fa5a51cec7",
        "type": "debug",
        "z": "fe07807563218a3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa0c7722d901e775",
        "type": "mqtt in",
        "z": "fe07807563218a3c",
        "name": "Button 2",
        "topic": "zigbee2mqtt/button 2 guest bedroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 520,
        "wires": [
            [
                "020b272ff0b59f04"
            ]
        ]
    },
    {
        "id": "020b272ff0b59f04",
        "type": "json",
        "z": "fe07807563218a3c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 520,
        "wires": [
            [
                "e6fd4e444cf52214",
                "462de2629df9a92e"
            ]
        ]
    },
    {
        "id": "e6fd4e444cf52214",
        "type": "switch",
        "z": "fe07807563218a3c",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "single_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "single_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold_both",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "double_both",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "5c15ba9b101b5269"
            ],
            [
                "c512f5a09a82c802"
            ],
            [
                "57caf89b2627303e"
            ],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "462de2629df9a92e",
        "type": "debug",
        "z": "fe07807563218a3c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "08c5fd57f0bb3498",
        "type": "change",
        "z": "fe07807563218a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 120,
        "wires": [
            [
                "2356e72eb1f2fa47"
            ]
        ]
    },
    {
        "id": "b2db5deedcc3232e",
        "type": "change",
        "z": "fe07807563218a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "870b7d3e587c7af0"
            ]
        ]
    },
    {
        "id": "075c8c3a1f3aaeb0",
        "type": "change",
        "z": "fe07807563218a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "97c383f0fb8fd803"
            ]
        ]
    },
    {
        "id": "c512f5a09a82c802",
        "type": "change",
        "z": "fe07807563218a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "870b7d3e587c7af0"
            ]
        ]
    },
    {
        "id": "5c15ba9b101b5269",
        "type": "change",
        "z": "fe07807563218a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 440,
        "wires": [
            [
                "2356e72eb1f2fa47"
            ]
        ]
    },
    {
        "id": "57caf89b2627303e",
        "type": "change",
        "z": "fe07807563218a3c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"TOGGLE\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 500,
        "wires": [
            [
                "97c383f0fb8fd803"
            ]
        ]
    },
    {
        "id": "2356e72eb1f2fa47",
        "type": "mqtt out",
        "z": "fe07807563218a3c",
        "name": "lamp 1 guest bedroom",
        "topic": "zigbee2mqtt/lamp 1 guest bedroom/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1220,
        "y": 260,
        "wires": []
    },
    {
        "id": "870b7d3e587c7af0",
        "type": "mqtt out",
        "z": "fe07807563218a3c",
        "name": "lamp 2 guest bedroom",
        "topic": "zigbee2mqtt/lamp 2 guest bedroom/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1220,
        "y": 380,
        "wires": []
    },
    {
        "id": "97c383f0fb8fd803",
        "type": "mqtt out",
        "z": "fe07807563218a3c",
        "name": "switch guest bedroom",
        "topic": "zigbee2mqtt/switch guest bedroom/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "3ac4096f6ca52f0c",
        "type": "mqtt in",
        "z": "357f108ee4d385ed",
        "name": "",
        "topic": "zigbee2mqtt/motion guest bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "e288a16d63384a90"
            ]
        ]
    },
    {
        "id": "ff7a20c986ef7427",
        "type": "mqtt in",
        "z": "357f108ee4d385ed",
        "name": "",
        "topic": "zigbee2mqtt/door guest bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "ef063c8be52d1c95"
            ]
        ]
    },
    {
        "id": "d4bac4f119407e5b",
        "type": "debug",
        "z": "357f108ee4d385ed",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab24fc2151292109",
        "type": "debug",
        "z": "357f108ee4d385ed",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "e288a16d63384a90",
        "type": "json",
        "z": "357f108ee4d385ed",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "d4bac4f119407e5b",
                "a2f8912421dd7bb8"
            ]
        ]
    },
    {
        "id": "ef063c8be52d1c95",
        "type": "json",
        "z": "357f108ee4d385ed",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "ab24fc2151292109",
                "90e8160bfe495744"
            ]
        ]
    },
    {
        "id": "a2f8912421dd7bb8",
        "type": "function",
        "z": "357f108ee4d385ed",
        "name": "",
        "func": "var door = flow.get(\"door\");\n\nif (door === undefined) {\n    door = {\n        \"contact\": false\n    }\n}\n\nif (msg.payload.occupancy === true)\n{\n    msg = { payload: { \"state_top\": \"ON\" } };\n}\nelse if (door.contact === false)\n{\n    msg = { payload: { \"state_top\": \"OFF\" } };\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 180,
        "wires": [
            [
                "75478f45303251fc"
            ]
        ]
    },
    {
        "id": "90e8160bfe495744",
        "type": "change",
        "z": "357f108ee4d385ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "door",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "75478f45303251fc",
        "type": "mqtt out",
        "z": "357f108ee4d385ed",
        "name": "",
        "topic": "zigbee2mqtt/switch guest bathroom/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1340,
        "y": 180,
        "wires": []
    },
    {
        "id": "4f3b1c264b9da224",
        "type": "light-scheduler",
        "z": "9eb42a15c96edb97",
        "settings": "2a8458faf5b44edf",
        "events": "[]",
        "topic": "sun",
        "name": "",
        "onPayload": "true",
        "onPayloadType": "bool",
        "offPayload": "false",
        "offPayloadType": "bool",
        "onlyWhenDark": true,
        "scheduleRndMax": 0,
        "sunElevationThreshold": "6",
        "sunShowElevationInStatus": true,
        "outputfreq": "output.statechange",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "b16aed8ab3aa3bb6"
            ]
        ]
    },
    {
        "id": "b16aed8ab3aa3bb6",
        "type": "switch",
        "z": "9eb42a15c96edb97",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 320,
        "wires": [
            [
                "d01a35953542466b"
            ]
        ]
    },
    {
        "id": "c7f28087a66aa8ed",
        "type": "mqtt out",
        "z": "9eb42a15c96edb97",
        "name": "",
        "topic": "zigbee2mqtt/lamp small living room/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1140,
        "y": 280,
        "wires": []
    },
    {
        "id": "b110c4db6992ac7b",
        "type": "mqtt out",
        "z": "9eb42a15c96edb97",
        "name": "",
        "topic": "zigbee2mqtt/lamp estelle/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "b25c00430beda042",
        "type": "mqtt out",
        "z": "9eb42a15c96edb97",
        "name": "",
        "topic": "zigbee2mqtt/lamp large living room/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "c62e5a703c135afd",
        "type": "mqtt out",
        "z": "9eb42a15c96edb97",
        "name": "",
        "topic": "zigbee2mqtt/lamp lino/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "bfff5f3668b1fa9a",
        "type": "inject",
        "z": "9eb42a15c96edb97",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "light-only",
        "payloadType": "str",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "4f3b1c264b9da224"
            ]
        ]
    },
    {
        "id": "d01a35953542466b",
        "type": "change",
        "z": "9eb42a15c96edb97",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"state\": \"ON\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "b25c00430beda042",
                "c7f28087a66aa8ed",
                "c62e5a703c135afd",
                "b110c4db6992ac7b",
                "0f11ac4cfe352470"
            ]
        ]
    },
    {
        "id": "0f11ac4cfe352470",
        "type": "debug",
        "z": "9eb42a15c96edb97",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 120,
        "wires": []
    },
    {
        "id": "49e6391da9c2c669",
        "type": "mqtt in",
        "z": "1677362e797afd58",
        "name": "humidity guest bathroom",
        "topic": "zigbee2mqtt/humidity guest bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "79bf777e985ca8cc"
            ]
        ]
    },
    {
        "id": "79bf777e985ca8cc",
        "type": "json",
        "z": "1677362e797afd58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "8a468154e52114bc"
            ]
        ]
    },
    {
        "id": "e301a79830fddf64",
        "type": "mqtt in",
        "z": "1677362e797afd58",
        "name": "humidity master bathroom",
        "topic": "zigbee2mqtt/humidity master bathroom",
        "qos": "2",
        "datatype": "auto",
        "broker": "12be0d6bf38dae3a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "01af32d059470e21"
            ]
        ]
    },
    {
        "id": "01af32d059470e21",
        "type": "json",
        "z": "1677362e797afd58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "8a468154e52114bc"
            ]
        ]
    },
    {
        "id": "ee02e43e53c4e810",
        "type": "mqtt out",
        "z": "1677362e797afd58",
        "name": "switch guest bathroom",
        "topic": "zigbee2mqtt/switch guest bathroom/set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12be0d6bf38dae3a",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a468154e52114bc",
        "type": "function",
        "z": "1677362e797afd58",
        "name": "",
        "func": "var masterBathroomHumidity = flow.get(\"masterBathroomHumidity\") ?? 0\nvar guestBathroomHumidity = flow.get(\"guestBathroomHumidity\") ?? 0\nvar start_state = flow.get(\"state\") ?? \"OFF\"\nvar state = start_state\n\nif (msg.topic === \"zigbee2mqtt/humidity master bathroom\") {\n    masterBathroomHumidity = msg.payload.humidity\n    flow.set(\"masterBathroomHumidity\", msg.payload.humidity)\n}\n\nif (msg.topic === \"zigbee2mqtt/humidity guest bathroom\") {\n    guestBathroomHumidity = msg.payload.humidity\n    flow.set(\"guestBathroomHumidity\", msg.payload.humidity)\n}\n\nvar humidity = Math.max(masterBathroomHumidity, guestBathroomHumidity)\n\nif (humidity > 80)\n    state = \"ON\"\n\nif (humidity < 70)\n    state = \"OFF\"\n\nif (start_state != state)\n{\n    flow.set(\"state\", state)\n\n    return { payload: { state_bottom: state } }\n}\n\nreturn { payload: {  } }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "ee02e43e53c4e810"
            ]
        ]
    },
    {
        "id": "9d2451f7f4c20679",
        "type": "zigbee2mqtt-bridge",
        "z": "33b89297c0e3a43d",
        "name": "499 Paardevlei",
        "server": "9bfb9e4ed0209d0d",
        "topic": null,
        "x": 380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2cbcaa1228f20657",
        "type": "debug",
        "z": "33b89297c0e3a43d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "822f80341d66f6a3",
        "type": "zigbee2mqtt-in",
        "z": "33b89297c0e3a43d",
        "name": "",
        "server": "9bfb9e4ed0209d0d",
        "friendly_name": "button study (WXKG11LM)",
        "device_id": "0x00158d00052b9399",
        "state": "0",
        "outputAtStartup": false,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 410,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a6df8e8cd7b71432",
        "type": "zigbee2mqtt-get",
        "z": "33b89297c0e3a43d",
        "name": "",
        "server": "9bfb9e4ed0209d0d",
        "friendly_name": "motion study (RTCGQ11LM)",
        "device_id": "0x00158d00063351dc",
        "state": "0",
        "enableMultiple": false,
        "x": 400,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "92dffcc98f0d88ba",
        "type": "inject",
        "z": "33b89297c0e3a43d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "a6df8e8cd7b71432"
            ]
        ]
    },
    {
        "id": "a5e279fab53e7719",
        "type": "zigbee2mqtt-in",
        "z": "33b89297c0e3a43d",
        "name": "",
        "server": "9bfb9e4ed0209d0d",
        "friendly_name": "motion study (RTCGQ11LM)",
        "device_id": "0x00158d00063351dc",
        "state": "0",
        "outputAtStartup": false,
        "filterChanges": true,
        "enableMultiple": false,
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    }
]